
span.kw { background-color: #eee; font-size: 110%;}

.player-condition .connective-col { display: block; }
.player-condition.original .connective-col { display: none; }

.player-condition.original .remove-condition { display: none; }

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
